name: 'Node.js Runner'
description: 'Clone a GitHub repo and run its Node.js script'
version: '1.0.3'
slug: 'ha-nodejs-runner'
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
options:
  repository: ''
  branch: 'main'
  script_name: 'start'
  port: 3000
schema:
  script_name: str
  repository: str
  branch: str
  port: port
