name: 'Node.js Runner'
description: 'Clone a GitHub repo and run its Node.js script'
version: '1.1.2'
slug: 'ha-nodejs-runner'
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
options:
  repository: ''
  branch: 'main'
  script_name: 'start'
  prerun_script_name: ''
  port: 5000
  bun: false
schema:
  prerun_script_name: str
  script_name: str
  repository: str
  branch: str
  port: port
  bun: bool
